@import '../../app.scss';

.contact {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 20px;

  @include tablet {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include tablet {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;

      @include tablet {
        font-size: 36px;
      }
    }
  }

  .formContainer{
    flex: 1;
    position: relative;

    @include tablet {
      width: 70%;
      flex: 2;
    }

    .phoneSvg {
      margin: auto;
      z-index: -1;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      input, textarea {
        padding: 20px;
        background: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background: #ffa500;
        cursor: pointer;
        font-weight: 500;

        @include mobile {
          padding: 10px;
        }
      }
    }

    .success {
      color: green;
    }

    .error {
      color: red;
    }
  }
}